@mixin flex-style($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.material-icons
{
    cursor: pointer;
}