@import "../../styles/util.scss";

.empty-list
{
    box-sizing: border-box;
    width: 614px;
    height: 290px;
    margin-top: 110px;
    padding-top: 87px;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    @include flex-style(column, flex-start, center);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #87898C;
}