.shopping-list-header
{
    height: 64px;
    padding-left: 30px;
    background-color: #4D81B7;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}