.drop-down
{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 8px 0px;
    padding: 0px 15px;
    border: 1px solid #D5DFE9;
    border-radius: 4px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #2A323C;
    position: relative;

    &:focus
    {
        outline: none;
    }

    option
    {
        padding: 5px 0px;
    }

    &::after
    {
        position: absolute;
        top: 100px;
    }
}